.actions-panel {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  padding-bottom: 15px;
  border-bottom: 1px solid $border-color;
  margin-bottom: 20px;
}

.actions-panel__select,
.actions-panel__input {
  margin-left: 15px;
}  

@include media-tablet-small {
  .actions-panel {
    flex-direction: column;
  }

  .actions-panel__select,
  .actions-panel__input {
    margin-left: 0px;
  }  

  .actions-panel__select {
    margin-top: 15px;
  }
}
