.button {
  width: 120px;
  height: 40px;
  color: inherit;
  background-color: #ffffff;
  border: 1.5px solid $base-color;
  border-radius: 4px;
  cursor: pointer;

  &:hover {
    background-color: $base-color;
  }
}