$base-color: rgb(250, 247, 70);
$box-shadow: 0px 0px 5px #dbdbdbda;
$font-color: #3f3e3e;
$font-color-placeholder: #dadada;
$border-color: #e4e4e4;
$tablet-small-width: 768px;
$mobile-big-width: 480px;