.header {
  width: 100vw;
  background-color: $base-color;
  font-size: 36px;
  box-shadow: $box-shadow;
}

.header__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85px;
}

