.parking-table {
  border-collapse: collapse;
}

.parking-table__cell {
  border-bottom: 1px solid $border-color;
  height: 40px;
  padding-left: 10px;
}

.parking-table__cell_tenant {
  max-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.parking-table__cell_empty {
  font-weight: 300;
  color: $font-color-placeholder;
}
